@font-face {
   font-family: 'Muller';
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
   font-family: 'Muller';
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   src: local('Muller Medium'), local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
   font-family: 'Muller';
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
}

/* global */
*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
}

.body {
   overflow-x: hidden;
   font-family: 'Muller', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #000;
   background-color: #f1f1f1;
}

.container {
   min-width: 320px;
   width: 100%;
   padding: 0 12px;
   margin: 0 auto;
   max-width: 1224px;
}

.section-offset {
   margin-bottom: 20px;
}

.flex {
   display: flex;
}

.list-reset {
   padding: 0;
   margin: 0;
   list-style: none;
}

/* header */
.header {
   padding: 0 15px;
   padding-top: 15px;
}

.header__container {
   padding: 25px;
   background-color: #fff;
   border-radius: 30px;
}

.header__content {
   margin-bottom: 20px;
   align-items: center;
}

.header__logo {
   margin-right: auto;
}

.header__contacts {
   gap: 10px;
}

.header__link {
   transition: color .3s ease-in-out;
}

.header__link:hover {
   color: #b3acac;
}

.header__list {
   justify-content: center;
}

.header__item:not(:last-child) {
   margin-right: 65px;
}

/* hero */
.hero__container {
   padding: 30px;
   border-radius: 30px;
   background-color: #fff;
}

.hero__img {
   margin-right: 20px;
   border-radius: 30px;
   min-height: 400px;
}

.hero__info {
   flex-direction: column;
}

.hero__title {
   margin: 0;
   margin-bottom: 20px;
}

.hero__desc {
   margin: 0;
   margin-bottom: 20px;
   font-size: 18px;
   max-width: 500px;
}

.hero__price {
   max-width: 50px;
   padding: 10px;
   margin-bottom: 30px;
   border-radius: 15px;
   background-color: #e9ec10;
}

.btn {
   padding: 15px;
   background-color: #d6d1d1;
   border-radius: 15px;
   transition: background-color .3s ease-in-out, color .3s ease-in-out;
   border: none;
}

.btn:hover {
   color: #fff;
   background-color: #8b8686;
}

.hero__btn:not(:last-child) {
   margin-right: 10px;
}

/* order */
.order__container {
   padding: 30px;
   border-radius: 10px;
   background-color: #e9e9e9;
}

.order__title {
   margin: 0;
   margin-left: 20px;
   margin-bottom: 20px;
}

.order__form {
   align-items: flex-end;
   padding: 30px;
   border-radius: 30px;
   background-color: #fff;
}

.input-content {
   flex-direction: column;
   max-width: fit-content;
}

.input-content:not(:last-child) {
   margin-right: 35px;
}

.input-name {
   margin-bottom: 10px;
   font-size: 16px;
}

.input-select {
   min-width: 220px;
   font-size: 18px;
}

.order .btn {
   font-size: 18px;
}
/* product */
.product__list {
   gap: 20px;
}
.product__item {
   flex-direction: column;
   padding: 30px;
   border-radius: 20px;
   background-color: #fff;
}
.product__img {
   margin-bottom: 15px;
   border-radius: 15px;
}
.product__title {
   margin-bottom: 10px;
}
.product__btn {
   width: fit-content;
}
